.sponsor-cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.sponsor-card:hover {
  border: solid 4px #01172F;
}

.sponsor-card {
  width: 200px;
  height: 200px;
  margin: 18px;
  display: flex;
  align-items: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 4px 64px 0 rgba(19, 23, 61, 0.08);
  border-radius: 4px;
}

.sponsor-card > img {
  width: 100%;
  object-fit: cover;
}

.black {
  background-color: black;
}


/* Iphone and Small devices */
@media (max-width: 768px) {
  .sponsor-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sponsor-card {
    width: 150px;
    height: 150px;
  }
}
