.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.contact-detail{
  display: flex;
  flex-direction: column;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-link a {
  margin: 0;
}
.contact-link p {
  margin: 0;
}

/* Smallest device */
@media (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr;

  }
  .contact-link {
    flex-direction: column;
  }
}
