/* bottom-bar */
.bottom-bar {
  background: #F4F4F4;
  border-top: 1px solid #eee;
}

.bottom-bar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: rgba(0,0,0,0.3);
  padding: 8px 0;
}

.bottom-bar-copyright {
  text-align: center;
}
.bottom-bar-copyright p {
  margin:0;
  padding: 0;
  font-size: 13px;
}

.bottom-bar-links {
  display: flex;
  align-items: center;
}

.bottom-bar-links i {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.bottom-bar-links i:hover {
  opacity: 1;
}

footer {
  background-color: #fff;
  padding-top: 32px;
  border-top: 1px solid #eee;
  position: relative;
}

footer .content {
  display: flex;
  justify-content: space-around;
}

footer .content h1 {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
}

footer .content .ul {
  display: block;
}
footer .content .li {
  margin-right: 10px;
  font-size: 11px;
  color: black;
  font-weight: 300;
  letter-spacing: .02em;

}
footer .content .li a:hover {
  color: red;
}
footer .content .link ul {
  display: block;
}
footer .content .link li {
  display: inline-block;
  margin-right: 10px;
  font-size: 34px;
  color: black;
  font-weight: 300;
  letter-spacing: .02em;
}
footer .content .link i {
  font-size: 34px;
  color: black;
  opacity: 0.6;
}

footer .content .link li i:hover {
  opacity: 1;
}

/* // Smallest device */
@media (max-width: 768px) {
  .bottom-bar-content{
    height:auto;
    flex-direction: column;
    padding: 8px 0;
  }
  .bottom-bar-links i {
    padding: 10px 10px;
  }
  .bottom-bar-copyright p {
    margin-bottom: 4px;
    text-align: center;
    font-size: 12px;
  }
}
