footer {
  background-color: #fff;
  padding-top: 32px;
  border-top: 1px solid #eee;
  position: relative;
}

footer .content {
  display: flex;
  justify-content: center;
}

.footer_part {
  margin: 16px 40px;
}

footer .content h1 {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
}

footer .content ul {
  display: block;
}
footer .content li {
  margin-right: 10px;
  font-size: 10px;
  color: black;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: .02em;

}
footer .content li a:hover {
  opacity: 1;
}
footer .content .link ul {
  display: block;
}
footer .content .link li {
  display: inline-block;
  margin-right: 10px;
  font-size: 34px;
  color: black;
  font-weight: 300;
  letter-spacing: .02em;
}
footer .content .link i {
  font-size: 34px;
  color: black;
  opacity: 0.6;
}

footer .content .link li i:hover {
  opacity: 1;
}

/* // Smallest device */
@media (max-width: 768px) {
  .bottom-bar-content{
    height:auto;
    flex-direction: column;
    padding: 8px 0;
  }

  .bottom-bar-links i {
    padding: 10px 10px;
  }

  .bottom-bar-copyright p {
    margin-bottom: 4px;
    text-align: center;
    font-size: 12px;
  }

  .only_desktop {
    display: none;
  }
}
